In [1]:
import numpy as np
import pandas as pd
import random as rd

In [40]:
# reading a file

# only general txt files
cont = open('b_small.in')
cont.read() # has content as string
cont.close()

# only well formatted csv and similar type files
data = np.genfromtxt('dnn_sub.csv',dtype='int',delimiter=',',skip_header=1,skip_footer=0)
data

dframe = pd.read_csv('dnn_sub.csv',usecols=['Label','ImageId'],skiprows=[1,2,3],squeeze=True)
# squueze adds sno. col to dataframe
dframe

       ImageId  Label
0            4      9
1            5      3
2            6      7
3            7      0
4            8      3
...        ...    ...
27992    27996      9
27993    27997      7
27994    27998      3
27995    27999      9
27996    28000      2

[27997 rows x 2 columns]

In [63]:
# random number generation

rd.seed(4)
print(rd.random()) # [0,1)
arr = [1,2,3,4]
rd.shuffle(arr)
print(arr)
print(rd.choice(arr))
print(rd.randrange(20, 30)) # [20,30)
print(rd.uniform(5,9))

0.23604808973743452
[4, 2, 3, 1]
1
22
5.360400976732823