In [1]:

import time
import multiprocessing 

def basic_func(x):
    if x == 0:
        return 'zero'
    elif x%2 == 0:
        return 'even'
    else:
        return 'odd'

def multiprocessing_func(x):
    y = x*x
    time.sleep(2)
    print('{} squared results in a/an {} number'.format(x, basic_func(y)))
    
if __name__ == '__main__':
    starttime = time.time()
    processes = []
    for i in range(0,10):
        p = multiprocessing.Process(target=multiprocessing_func, args=(i,))
        processes.append(p)
        p.start()
        
    for process in processes:
        process.join()
        
    print('That took {} seconds'.format(time.time() - starttime))

0 squared results in a/an zero number
1 squared results in a/an odd number
2 squared results in a/an even number
3 squared results in a/an odd number
5 squared results in a/an odd number
4 squared results in a/an even number
6 squared results in a/an even number
7 squared results in a/an odd number
8 squared results in a/an even number
9 squared results in a/an odd number
That took 2.039116859436035 seconds

In [2]:
import numpy as np
np.__version__

'1.16.4'

In [3]:
u = [7,'you']
print(type(u))
u[1]
y = np.array(u)
print(y) # its type casting

<class 'list'>
['7' 'you']

In [4]:
#np.random.seed(0) # dont comment it if you want same ans every time

x1 = np.random.randint(10, size=(2,3)) #one dimension
x2 = np.random.randint(10, size=(3,2)) #one dimension
print(x1)
print(x2)

[[2 1 4]
 [7 2 0]]
[[0 4]
 [9 8]
 [8 4]]

In [5]:
np.random.normal(0 , 1, (2,3)) # mean, varience , size

array([[-1.72969661,  0.46515594, -0.58117086],
       [ 2.02707255,  1.9209426 , -0.7474689 ]])

In [6]:
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [7]:
np.linspace(0,10,6)

array([ 0.,  2.,  4.,  6.,  8., 10.])

In [8]:
#identity
np.eye(6)

array([[1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [9]:
x1 = np.arange(10)
print(x1)
print(x1[-1]) # a way access last element

[0 1 2 3 4 5 6 7 8 9]
9

In [10]:
grid = np.array([[1,2,3],[4,5,6]])
np.concatenate([grid,grid]) #default axis=0 column wise

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [11]:
np.concatenate([grid,grid],axis=1) # similarly np.hstack ,np.vsatck works

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [12]:
#shape and reshape
i = np.shape(grid)
o = grid.reshape((6,1))
print(o,i)

[[1]
 [2]
 [3]
 [4]
 [5]
 [6]] (2, 3)

In [13]:
import pandas as pd
pd.__version__

'0.24.2'

In [14]:
data = pd.DataFrame({'Country': ['Russia','Colombia','Chile','Equador','Nigeria'],
                    'Index':[11,None,15,15,71]}) # know none
data

    Country  Index
0    Russia   11.0
1  Colombia    NaN
2     Chile   15.0
3   Equador   15.0
4   Nigeria   71.0

In [15]:
print(data.describe())
(data.sort_values(by=['Index','Country'],ascending=[True,True]))

           Index
count   4.000000
mean   28.000000
std    28.728615
min    11.000000
25%    14.000000
50%    15.000000
75%    29.000000
max    71.000000

    Country  Index
0    Russia   11.0
2     Chile   15.0
3   Equador   15.0
4   Nigeria   71.0
1  Colombia    NaN

In [16]:
train  = pd.read_csv("~/PRML/Adult/train.csv")
test  = pd.read_csv("~/PRML/Adult/test.csv")

In [19]:
#train.info()
#train.head()
pd.crosstab(train.education, train.target,margins=True)

target          <=50K   >50K    All
education
 10th             871     62    933
 11th            1115     60   1175
 12th             400     33    433
 1st-4th          162      6    168
 5th-6th          317     16    333
 7th-8th          606     40    646
 9th              487     27    514
 Assoc-acdm       802    265   1067
 Assoc-voc       1021    361   1382
 Bachelors       3134   2221   5355
 Doctorate        107    306    413
 HS-grad         8826   1675  10501
 Masters          764    959   1723
 Preschool         51      0     51
 Prof-school      153    423    576
 Some-college    5904   1387   7291
All             24720   7841  32561