In [1]:
"""
gender - male 0, female 1
class - 
age - take mean for null
fare - 
survived - 1, dead - 0
"""

'\ngender - male 0, female 1\nclass - \nage - take mean for null\nfare - \nsurvived - 1, dead - 0\n'

In [2]:
import numpy as np
import pandas as pd
from sklearn.mixture import GaussianMixture as GMM
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [3]:
pass_data = np.genfromtxt('train.csv', delimiter=',',skip_header=1)

In [4]:
print(np.shape(pass_data))

(891, 13)

In [5]:
train = pd.read_csv('train.csv')

In [6]:
train['Age'].fillna((int(train['Age'].mean())), inplace=True)

In [7]:
print(train)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female  29.0      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [ ]:
train['']

In [219]:
fin_train = np.zeros((891,5))

In [220]:
fin_train[:,1] = train['Pclass']
fin_train[:,2] = train['Age']
fin_train[:,3] = train['Fare']
fin_train[:,4] = train['Survived']
for i in range(891):
    if(train['Sex'][i] == 'male'):
        fin_train[i,0] = 1
    else:
        fin_train[i,0] = 0
        
X_train, X_test, y_train, y_test = train_test_split( fin_train[:,:4], fin_train[:,4:5], test_size=0.25, random_state=42)
        
sur_train = X_train[(y_train[:,0] == 1)]
ded_train = X_train[(y_train[:,0] == 0)]

#print(ded_train)
print(np.shape(sur_train))
# print(fin_train)
print(X_train)

(253, 4)
[[  1.           1.          29.69911765  30.5       ]
 [  1.           3.          25.           7.05      ]
 [  0.           2.          24.          14.5       ]
 ...
 [  1.           3.          41.          14.1083    ]
 [  0.           1.          14.         120.        ]
 [  1.           1.          21.          77.2875    ]]

In [221]:
cmp = 10
ite = 200

In [222]:
gmm1 = GMM(n_components = cmp, max_iter = ite, covariance_type='full',n_init = 3)
gmm1.fit(sur_train[:,:4])

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=200,
                means_init=None, n_components=10, n_init=3,
                precisions_init=None, random_state=None, reg_covar=1e-06,
                tol=0.001, verbose=0, verbose_interval=10, warm_start=False,
                weights_init=None)

In [223]:
gmm2 = GMM(n_components = cmp, max_iter = ite, covariance_type='full',n_init = 3)
gmm2.fit(sur_train[:,:4])

GaussianMixture(covariance_type='full', init_params='kmeans', max_iter=200,
                means_init=None, n_components=10, n_init=3,
                precisions_init=None, random_state=None, reg_covar=1e-06,
                tol=0.001, verbose=0, verbose_interval=10, warm_start=False,
                weights_init=None)

In [224]:
ll_sur = gmm1.score_samples(X_test)
ll_ded = gmm2.score_samples(X_test)

In [225]:
output = np.zeros(np.shape(y_test))
print(np.shape(output))
for i in range(np.shape(output)[0]):
    if (ll_sur[i] > ll_ded[i]):
        output[i,0] = 1

(223, 1)

In [226]:
# print(output,y_test)
outputf = output.flatten()
y_testf = y_test.flatten()
print(outputf)
pd.crosstab(y_testf, outputf, rownames=['Actual'], colnames=['Predicted'])

[0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0.
 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 1. 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 1. 1.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0.
 1. 1. 1. 0. 0. 1. 0.]

Predicted  0.0  1.0
Actual
0.0        110   24
1.0         62   27

In [227]:
accuracy_score(y_testf,outputf)

0.6143497757847534

In [228]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [229]:
clf = RandomForestClassifier(max_depth=10, random_state=2,n_estimators=200)

In [230]:
clf.fit(X_train,y_train.flatten())

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=10, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [231]:
preds = clf.predict(X_test)
print(preds)
pd.crosstab(y_test.flatten(), preds, rownames=['Actual'], colnames=['Predicted'])

[0. 0. 0. 1. 1. 1. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0.
 0. 0. 0. 0. 0. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1.
 1. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 0. 0. 1. 0.
 0. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0.
 0. 1. 0. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 0. 0. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 1. 0. 0.
 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1.
 1. 0. 1. 0. 0. 1. 0.]

Predicted  0.0  1.0
Actual
0.0        120   14
1.0         24   65

In [232]:
accuracy_score(y_test.flatten(),preds)

0.8295964125560538

In [273]:
tst = pd.read_csv('test.csv')
tst['Age'].fillna((int(tst['Age'].mean())), inplace=True)
tst['Fare'].fillna((tst['Fare'].mean()), inplace=True)
fin_tst = np.zeros((418,4))

In [274]:
fin_tst[:,1] = tst['Pclass']
fin_tst[:,2] = tst['Age']
fin_tst[:,3] = tst['Fare']
for i in range(418):
    if(tst['Sex'][i] == 'male'):
        fin_tst[i,0] = 1
    else:
        fin_tst[i,0] = 0

In [275]:
fin_tst32 = fin_tst.astype(dtype='float32')
print(fin_tst32)
print(np.isnan(fin_tst32).any())

[[ 1.      3.     34.5     7.8292]
 [ 0.      3.     47.      7.    ]
 [ 1.      2.     62.      9.6875]
 ...
 [ 1.      3.     38.5     7.25  ]
 [ 1.      3.     30.      8.05  ]
 [ 1.      3.     30.     22.3583]]
False

In [278]:
ale = clf.predict(fin_tst)
ans_int = ale.astype(dtype='int')
print(ans_int)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 1 1 0 1 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 1 0 0 1 0 1 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [279]:
df = pd.DataFrame({'PassengerId': tst['PassengerId'],'Survived': ans_int})

In [281]:
ans_csv = df.to_csv(index=False)

In [284]:
f= open("submission.csv","w+")

In [285]:
f.write(ans_csv)

2839